/* Color scheme */
:root {
    --background: #EFEFEF;
    --form-bg-standard: #FFF;
    --form-bg-alt: #EEE;
    --form-bg-dark: #444;
    --text-standard: #666;
    --text-title: #333;
    --focus: #7BC94E;
    --focus-alt: #4394D6;
}

/* Basic Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Standard setup */
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;

	color: var(--text-standard);
	background-color: var(--background);
}

main {
	margin: auto;
}

#survey-form {
	max-width: 900px;
	margin: auto;
	padding: 2rem 2rem;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 2.5rem;

	text-align: center;

	color: #fff;
}

h2 {
	font-size: 1.25rem;

	margin-bottom: 1rem;

	color: var(--focus-alt);
}

/* Utility classes */
.row {
	display: flex;

	width: 100%;
}

.col {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.grid-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.new-line {
	display: block;

	margin-top: 0.5rem;
}

/* Buttons */
.btn {
	font-size: 1.1rem;

	width: 20rem;
	padding: 1rem 1rem;

	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: var(--focus);
}

.btn:hover {
	cursor: pointer;
}

/* Form */
section {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin: 0.5rem 0;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;

	border: none;
	background-color: var(--form-bg-standard);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.row section:first-of-type {
	margin-right: 0.5rem;
}
.row section:last-of-type {
	margin-left: 0.5rem;
}

.fset-sub {
	display: block;

	width: 100%;

	border: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
#comments {
	font-size: 16px;

	display: inline-block;

	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;

	border-style: solid;
	border-color: var(--form-bg-alt);
}

select {
	background-color: var(--form-bg-alt);
}

label {
	font-size: 1rem;
}

.main-label {
	font-size: 1.1rem;

	margin-bottom: 0.5rem;

	color: var(--text-title);
}

legend.main-label {
	display: block;
	float: left;

	width: 100%;
	margin-top: 0rem;
}

/* Header */
header {
	margin-bottom: 0.5rem;
	padding: 2rem 1rem 1rem 1rem;

	color: #fff;

/* background-color: var(--focus-alt); */
	background: linear-gradient(45deg, #4394d6, #43c5d6);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

header div {
	align-items: center;
	justify-content: center;

	padding: 2rem 5rem;
}

#description {
	font-size: 1rem;
	font-weight: 500;

	width: 100%;
	margin-right: 1rem;
}

header img {
	width: auto;
	height: 100px;
	margin-left: 1rem;
}
/* P-info */
#p-info .col:first-of-type {
	margin-right: 1rem;
}

/* Eating habits */
#eating-habits .option {
	margin-bottom: 0.5rem;
}

/* Additional-info */
#add-info .col {
	align-items: flex-end;
	justify-content: center;
}

/* Media queries desktop first */

/* Tablet 840px */
@media only screen and (max-width: 840px) {
	form > .row {
		flex-direction: column;
	}

	#eating-habits,
	form .row section {
		margin: 0.5rem 0;
	}

	.btn {
		width: 100%;
	}

	#survey-form {
		padding: 1rem 1rem;
	}

	header {
		padding: 1rem 0.5rem 0.5rem 0.5rem;
	}

	header div {
		padding: 1.5rem 3rem;
	}
}

/* Phone 568px */
@media only screen and (max-width: 568px) {
	.row {
		flex-direction: column;
	}

	.grid-columns {
		grid-template-columns: 1fr;
	}

	#survey-form {
		padding: 0.5rem 0.5rem;
	}

	header div {
		padding: 1rem 1.5rem 0 1.5rem;
	}

	header img,
	header #description {
		margin: 0.5rem 0 0 0;
	}

	h1 {
		font-size: 2rem;
	}

	.option:last-of-type {
		padding-bottom: 1rem;
	}

	#p-info .col:first-of-type {
		margin-right: 01rem;
	}

	header img {
		margin: 1rem;
	}
}
